# Ignore node_modules and other local development files
node_modules
npm-debug.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore build artifacts
dist
build

# Ignore version control files
.git
.gitignore

# Ignore test files
coverage
